<div class="card-show">
    <div class="card">
        <h3 class="card-name">Warrior Hasbro</h3>
        <div>
            <img class="card-img" src="../images/card1.jpg"> 
        </div>
        
        <div class="card-info">
            <div class="card-opt">
                <img class="card-icon" src="../images/dagger.svg">
                <p class="damage">40</p>
            </div>
            
            <p class="card-opt money">$70</p>

            <div class="card-opt ">
                <img class="card-icon" src="../images/heart.svg">
                <p class="health">40</p>
            </div>
        </div>
    </div>
    <div class="card">
        <h3 class="card-name">The Demon Seed</h3>
        <div>
            <img class="card-img" src="../images/card2.jpg"> 
        </div>
        
        <div class="card-info">
            <div class="card-opt">
                <img class="card-icon" src="../images/dagger.svg">
                <p class="damage">55</p>
            </div>
            
            <p class="card-opt money">$85</p>

            <div class="card-opt ">
                <img class="card-icon" src="../images/heart.svg">
                <p class="health">60</p>
            </div>
        </div>
    </div>
    <div class="card">
        <h3 class="card-name">Feast of Souls</h3>
        <div>
            <img class="card-img" src="../images/card3.jpg"> 
        </div>
        
        <div class="card-info">
            <div class="card-opt">
                <img class="card-icon" src="../images/dagger.svg">
                <p class="damage">45</p>
            </div>
            
            <p class="card-opt money">$75</p>

            <div class="card-opt ">
                <img class="card-icon" src="../images/heart.svg">
                <p class="health">55</p>
            </div>
        </div>
    </div>
    <div class="card">
        <h3 class="card-name">Felsaber</h3>
        <div>
            <img class="card-img" src="../images/card4.jpg"> 
        </div>
        
        <div class="card-info">
            <div class="card-opt">
                <img class="card-icon" src="../images/dagger.svg">
                <p class="damage">60</p>
            </div>
            
            <p class="card-opt money">$80</p>

            <div class="card-opt ">
                <img class="card-icon" src="../images/heart.svg">
                <p class="health">30</p>
            </div>
        </div>
    </div>
    <div class="card">
        <h3 class="card-name">Chaos Nova</h3>
        <div>
            <img class="card-img" src="../images/card5.jpg"> 
        </div>
        
        <div class="card-info">
            <div class="card-opt">
                <img class="card-icon" src="../images/dagger.svg">
                <p class="damage">20</p>
            </div>
            
            <p class="card-opt money">$30</p>

            <div class="card-opt ">
                <img class="card-icon" src="../images/heart.svg">
                <p class="health">35</p>
            </div>
        </div>
    </div>
    <div class="card">
        <h3 class="card-name">Vengeful Spirit</h3>
        <div>
            <img class="card-img" src="../images/card6.jpg"> 
        </div>
        
        <div class="card-info">
            <div class="card-opt">
                <img class="card-icon" src="../images/dagger.svg">
                <p class="damage">80</p>
            </div>
            
            <p class="card-opt money">$75</p>

            <div class="card-opt ">
                <img class="card-icon" src="../images/heart.svg">
                <p class="health">15</p>
            </div>
        </div>
    </div>
    <div class="card">
        <h3 class="card-name">Fury</h3>
        <div>
            <img class="card-img" src="../images/card7.jpg"> 
        </div>
        
        <div class="card-info">
            <div class="card-opt">
                <img class="card-icon" src="../images/dagger.svg">
                <p class="damage">15</p>
            </div>
            
            <p class="card-opt money">$65</p>

            <div class="card-opt ">
                <img class="card-icon" src="../images/heart.svg">
                <p class="health">75</p>
            </div>
        </div>
    </div>
    <div class="card">
        <h3 class="card-name">RazorBoar</h3>
        <div>
            <img class="card-img" src="../images/card8.jpg"> 
        </div>
        
        <div class="card-info">
            <div class="card-opt">
                <img class="card-icon" src="../images/dagger.svg">
                <p class="damage">50</p>
            </div>
            
            <p class="card-opt money">$60</p>

            <div class="card-opt ">
                <img class="card-icon" src="../images/heart.svg">
                <p class="health">40</p>
            </div>
        </div>
    </div>
    <div class="card">
        <h3 class="card-name">Vile Call</h3>
        <div>
            <img class="card-img" src="../images/card9.jpg"> 
        </div>
        
        <div class="card-info">
            <div class="card-opt">
                <img class="card-icon" src="../images/dagger.svg">
                <p class="damage">80</p>
            </div>
            
            <p class="card-opt money">$85</p>

            <div class="card-opt ">
                <img class="card-icon" src="../images/heart.svg">
                <p class="health">20</p>
            </div>
        </div>
    </div>
    <div class="card">
        <h3 class="card-name">Felrattler</h3>
        <div>
            <img class="card-img" src="../images/card10.jpg"> 
        </div>
        
        <div class="card-info">
            <div class="card-opt">
                <img class="card-icon" src="../images/dagger.svg">
                <p class="damage">15</p>
            </div>
            
            <p class="card-opt money">$20</p>

            <div class="card-opt ">
                <img class="card-icon" src="../images/heart.svg">
                <p class="health">20</p>
            </div>
        </div>
    </div>
    <div class="card">
        <h3 class="card-name">Twin Slice</h3>
        <div>
            <img class="card-img" src="../images/card11.jpg"> 
        </div>
        
        <div class="card-info">
            <div class="card-opt">
                <img class="card-icon" src="../images/dagger.svg">
                <p class="damage">35</p>
            </div>
            
            <p class="card-opt money">$25</p>

            <div class="card-opt ">
                <img class="card-icon" src="../images/heart.svg">
                <p class="health">40</p>
            </div>
        </div>
    </div>
    <div class="card">
        <h3 class="card-name">Feast of Soul</h3>
        <div>
            <img class="card-img" src="../images/card12.jpg"> 
        </div>
        
        <div class="card-info">
            <div class="card-opt">
                <img class="card-icon" src="../images/dagger.svg">
                <p class="damage">40</p>
            </div>
            
            <p class="card-opt money">$50</p>

            <div class="card-opt ">
                <img class="card-icon" src="../images/heart.svg">
                <p class="health">35</p>
            </div>
        </div>
    </div>
    <div class="card">
        <h3 class="card-name">Consume Magic</h3>
        <div>
            <img class="card-img" src="../images/card13.jpg"> 
        </div>
        
        <div class="card-info">
            <div class="card-opt">
                <img class="card-icon" src="../images/dagger.svg">
                <p class="damage">20</p>
            </div>
            
            <p class="card-opt money">$15</p>

            <div class="card-opt ">
                <img class="card-icon" src="../images/heart.svg">
                <p class="health">40</p>
            </div>
        </div>
    </div>
    <div class="card">
        <h3 class="card-name">Naga</h3>
        <div>
            <img class="card-img" src="../images/card14.jpg"> 
        </div>
        
        <div class="card-info">
            <div class="card-opt">
                <img class="card-icon" src="../images/dagger.svg">
                <p class="damage">20</p>
            </div>
            
            <p class="card-opt money">$10</p>

            <div class="card-opt ">
                <img class="card-icon" src="../images/heart.svg">
                <p class="health">20</p>
            </div>
        </div>
    </div>
    <div class="card">
        <h3 class="card-name">Spectral Sight</h3>
        <div>
            <img class="card-img" src="../images/card15.jpg"> 
        </div>
        
        <div class="card-info">
            <div class="card-opt">
                <img class="card-icon" src="../images/dagger.svg">
                <p class="damage">40</p>
            </div>
            
            <p class="card-opt money">$35</p>

            <div class="card-opt ">
                <img class="card-icon" src="../images/heart.svg">
                <p class="health">40</p>
            </div>
        </div>
    </div>
    <div class="card">
        <h3 class="card-name">Warlord</h3>
        <div>
            <img class="card-img" src="../images/card16.jpg"> 
        </div>
        
        <div class="card-info">
            <div class="card-opt">
                <img class="card-icon" src="../images/dagger.svg">
                <p class="damage">40</p>
            </div>
            
            <p class="card-opt money">$35</p>

            <div class="card-opt ">
                <img class="card-icon" src="../images/heart.svg">
                <p class="health">40</p>
            </div>
        </div>
    </div>
    <div class="card">
        <h3 class="card-name">Blur</h3>
        <div>
            <img class="card-img" src="../images/card17.jpg"> 
        </div>
        
        <div class="card-info">
            <div class="card-opt">
                <img class="card-icon" src="../images/dagger.svg">
                <p class="damage">45</p>
            </div>
            
            <p class="card-opt money">$40</p>

            <div class="card-opt ">
                <img class="card-icon" src="../images/heart.svg">
                <p class="health">15</p>
            </div>
        </div>
    </div>
    <div class="card">
        <h3 class="card-name">Blade</h3>
        <div>
            <img class="card-img" src="../images/card18.jpg"> 
        </div>
        
        <div class="card-info">
            <div class="card-opt">
                <img class="card-icon" src="../images/dagger.svg">
                <p class="damage">50</p>
            </div>
            
            <p class="card-opt money">$30</p>

            <div class="card-opt ">
                <img class="card-icon" src="../images/heart.svg">
                <p class="health">15</p>
            </div>
        </div>
    </div>
    <div class="card">
        <h3 class="card-name">Split</h3>
        <div>
            <img class="card-img" src="../images/card19.jpg"> 
        </div>
        
        <div class="card-info">
            <div class="card-opt">
                <img class="card-icon" src="../images/dagger.svg">
                <p class="damage">15</p>
            </div>
            
            <p class="card-opt money">$10</p>

            <div class="card-opt ">
                <img class="card-icon" src="../images/heart.svg">
                <p class="health">10</p>
            </div>
        </div>
    </div>
    <div class="card">
        <h3 class="card-name">Demon</h3>
        <div>
            <img class="card-img" src="../images/card20.jpg"> 
        </div>
        
        <div class="card-info">
            <div class="card-opt">
                <img class="card-icon" src="../images/dagger.svg">
                <p class="damage">50</p>
            </div>
            
            <p class="card-opt money">$70</p>

            <div class="card-opt ">
                <img class="card-icon" src="../images/heart.svg">
                <p class="health">50</p>
            </div>
        </div>
    </div>
</div>