
<div id="ready-container" class="container">
    <div>
    <h2>Are you ready? For start game press "Ready"</h2>

    <button class="btn" type="submit" id="test">Ready</button>
    </div>
</div>


{{#if readyState}}
    <div id="gameboard" class="gameboard">
        <div id="user2" class="view-first-user">
            <div class="user-info">
                <div>
                    <p>User 1</p>
                    <h3 class="user-name">Devid</h3>
                </div>
            </div>
            <div id="cards" class="cards-fisrt-user">
            </div>
            <div class="picked-card ">
                <div class="place-card first">
                    <p>Place your card</p>
                </div>
            </div>
            <div class="user-info">
                <div>
                    <p>Money:</p>
                    <h3 class="money">$ 125</h3>
                    <p>Health:</p>
                    <div class="user-health">
                        <img  class="user-icon" src="../images/heart.svg">
                        <h3 class="health">100</h3>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="game-controllers">
            <div class="controller">
                <p>It's <span id="turn"></span> turn</p>
                <h3>Time left: <span id="timer"></span>s</h3>
            </div>
        </div>
        <div id="user1" class="view-second-user">
            <div class="user-info">
                <div>
                    <p>User 2</p>
                    <h3 class="user-name">Mike</h3>
                </div>
            </div>
            <div id="cards" class="cards-second-user">
                <div class="place">
                </div>

            </div>
            <div class="picked-card second">
                <div class="place-card place">
                    <p>Place your card</p>
                </div>
            </div>
            <div class="user-info">
                <div>
                    <p>Money:</p>
                    <h3 class="money">$ 125</h3>
                    <p>Health:</p>
                    <div class="user-health">
                        <img  class="user-icon" src="../images/heart.svg">
                        <h3 class="health">100</h3>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
{{/if}}



<script src="https://cdn.socket.io/3.1.3/socket.io.min.js"
    integrity="sha384-cPwlPLvBTa3sKAgddT6krw0cJat7egBga3DJepJyrLl4Q9/5WLra3rrnMcyTyOnh" crossorigin="anonymous">
    </script>
<script src="../../sockets.js"></script>
<script src="../../game.js"></script>